#main { margin: 0 4px; }
#top p {
  margin: 0 0 10px 0;
  font-size: small;
  color: #0033A0;
  font-weight: bold;
}

form fieldset {
  border: solid 2px #bbb;
}
form fieldset > legend {
  padding: 0 4px;
  font-size: small;
}
fieldset.vars {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  margin-right: 12px;
}
fieldset.cuts {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}

form table { border-collapse: collapse; }
form table td { vertical-align: baseline; }
form table button { font-family: monospace; }

form {
  margin-bottom: 8px;
}

#run_time {
  margin-left: 4px;
  font-size: small;
  color: #999;
  white-space: nowrap;
}
#loading {
  vertical-align: middle;
  margin-left: 6px;
}

#event_count {
  font-size: small;
  font-family: monospace;
}
#event_table {
  border-collapse: collapse;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin: 5px 0 5px 0;
  font-size: small;
  font-family: monospace;
}
#event_table > tr:nth-child(1) { border-bottom: 1px solid #000; }
#event_table > tr:nth-child(n+2):hover { background-color: #eee; }
#event_table td {
  text-align: right;
  padding: 0.025em 0.5em;
}
#event_table > tr:nth-child(2) > td {
  padding-top: 0.125em;
}
#event_table > tr:last-child > td {
  padding-bottom: 0.125em;
}

#event_table .desc::before {
  content: '⏶';
  margin-right: 0.5em;
}
#event_table .asc::before {
  content: '⏷';
  margin-right: 0.5em;
}
