#main {
  margin: 0 4px;
}

#left, #right { float: left; }
#pane { display: inline-block; }
#right > #pane { padding-left: 20px; }
#mid-left > #pane { padding: 10px 0; }

#note { font-size: small; }
#note p {
  margin-top: 5px;
  margin-bottom: 5px;
}

#top { font-size: 11pt; }
#top p { margin: 0 0 10px 0; }
#top img { margin: 0 4px 0 30px; }

span.bar {
  text-decoration: overline;
}

label {
  user-select: none;
}
label > * {
  vertical-align: middle;
}

input[name="lumi"] {
  text-align: right;
  margin: 0 5px 0 5px;
}
input[name="edges"] {
  text-align: left;
}

#data_lumi {
  font-size: small;
  margin-left: 4px;
  color: #777;
  white-space: nowrap;
}
#run_time {
  margin-left: 4px;
  font-size: small;
  color: #999;
  white-space: nowrap;
}
#loading {
  vertical-align: middle;
  margin-left: 6px;
}

form > div {
  margin: 2px 0;
}
.checks {
  font-size: small;
}

#mxaods > p { padding: 0; margin: 0; }
#mxaods ul {
  padding-left: 2ch;
  font-family: monospace;
}
#mxaods > ul { padding: 0; margin: 8px 0; }
#mxaods li {
  padding-left: 0;
  margin-left: 0;
  list-style-type: none;
}
#mxaods .dir { color: #729fcf; font-weight: bold; }
span.show {
  color: blue;
  font-size: small;
  margin-left: 2px;
  user-select: none;
}
span.show:hover{ cursor: pointer; }

#main_table > table {
  margin: 5px 0;
  border-collapse: collapse;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  cursor: text;
  font-family: 'Times New Roman', serif;
}
#main_table > table > tr:nth-child(2) { border-bottom: 1px solid #000; }
#main_table > table > tr:nth-child(-n+2) > td { text-align: center; }
#main_table > table tr.bin:hover { background-color: #eee; }
#main_table td {
  padding: 1px 6px;
  white-space: nowrap;
}
#main_table td:nth-child(1) { text-align: left; }
#main_table td:nth-child(n+2) { text-align: right; }

#vars_table, #vars_table_wrap {
  border-collapse: collapse;
}
#vars_table_wrap td { vertical-align: baseline; }
