#page { margin: 0 4px; }

h1 {
  margin: 0 0 10px 0;
  font-size: 0.9em;
  color: #0033A0;
  font-weight: bold;
}

#main > div {
  display: inline-block;
  vertical-align: top;
}
#main > div:first-child {
  float: left;
}
#main > div:nth-child(n+2) {
  margin: 0 0 1em 1em;
}

#main > div:nth-child(n+2) > h2 {
  font-weight: normal;
  font-size: 1em;
  margin: 0;
}
#main > div:nth-child(n+2) > h2 .arrow {
  margin-right: 0.5em;
  cursor: pointer;
}
#main > div:nth-child(n+2) > h2 .arrow > svg {
  display: inline-block;
  width: 0.6em;
  vertical-align: middle;
}
#main > div:nth-child(n+2) > *:nth-child(2) {
  margin: 1em 0 0 0;
}

#note { font-size: small; }
#note p {
  margin-top: 5px;
  margin-bottom: 5px;
}

span.bar {
  text-decoration: overline;
}

form label {
  user-select: none;
  font-size: small;
}
form label > * {
  vertical-align: middle;
}
.small {
  font-size: small;
}

select[name="dataset"],
input[name="lumi"],
input[name="wd"],
input[name="wm"] {
  text-align: right;
  margin: 0 5px 0 5px;
}
input[name="edges"] {
  text-align: left;
}

#data_lumi {
  font-size: small;
  margin-left: 4px;
  color: #777;
  white-space: nowrap;
}
#run_time {
  margin-left: 4px;
  font-size: small;
  color: #999;
  white-space: nowrap;
}
#loading {
  vertical-align: middle;
  margin-left: 6px;
}

form > div {
  margin: 3px 0;
}

#mxaods ul {
  padding: 0 0 0 2ch;
  font-family: monospace;
}
#mxaods > div > ul { padding: 0; margin: 0; }
#mxaods li {
  padding-left: 0;
  margin-left: 0;
  list-style-type: none;
}
#mxaods .dir { color: #729fcf; font-weight: bold; }
#mxaods > *:nth-child(2) { font-size: 0.85em; }
span.show {
  cursor: pointer;
  color: blue;
  font-size: small;
  margin-left: 2px;
  user-select: none;
}

#main_table > table {
  margin: 5px 0;
  border-collapse: collapse;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  cursor: text;
  font-family: 'Times New Roman', serif;
}
#main_table > table > tr:nth-child(2) { border-bottom: 1px solid #000; }
#main_table > table > tr:nth-child(-n+2) > td { text-align: center; }
#main_table td {
  padding: 1px 6px;
  white-space: nowrap;
}
#main_table td { text-align: right; }
#main_table td.left { text-align: left; }

#main_table > table.click tr:nth-child(n+3) {
  user-select: none;
  cursor: pointer;
}
#main_table > table tr:nth-child(n+3):hover {
  background-color: #eee;
}

#form_table, #form_table_wrap { border-collapse: collapse; }
#form_table_wrap td { vertical-align: baseline; }
#form_table button { font-family: monospace; }

.context {
  position: fixed;
  z-index: 10000;
  width: 150px;
  background: #fff;
  border: 1px solid #dadce0;
  border-radius: 1px;
  font-size: small;
}
.context > * {
  padding: 8px 10px;
  cursor: pointer;
  border-radius: inherit;
}
.context > *:hover {
  background: #E8E8E9;
}

#data_plot > .info,
#mc_plot > .info {
  font-size: small;
  font-family: monospace;
}
#data_plot > .info > p,
#mc_plot > .info > p {
  margin: 0;
}

#mig .info {
  font-size: small;
  font-family: monospace;
  position: absolute;
  z-index: 100;
  background-color: #fff;
  padding: 0.5em;
  border: 2px solid #ddd;
  border-radius: 7px;
  box-shadow: 0 0 10px #ddd;
  min-width: 300px;
}
#mig .info > p {
  margin: 2px 3px;
}
#mig .info td {
  padding: 1px;
}
#mig .info td:nth-child(n+2) {
  padding-left: 1ch;
}
